.cell {

}

.dead-cell {
  -fx-background-color: transparent;
  -fx-border-color: black;
  -fx-border-width: 1px;
}

.living-cell {
  -fx-background-color: black;
  -fx-border-color: black;
}

.bottom {
    -fx-padding: 5px;
    -fx-alignment: center;
}

.button {
    -fx-pref-width: 50px;
}
